{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "tsc"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "tsc/config": [
      1,
      {
        "configFile": "tsconfig.json"
      }
    ],
    "no-console": "off"
  }
}
